#Bundler
alias be="bundle exec"
alias bun="bundle"

#Git
alias gcm="git commit -m"
alias gp="git push"
alias gst="git status"
alias

#Postgresql
alias pgstart="postgres -D /usr/local/var/postgres"

#Shortcuts
alias ..="cd ../"
alias ...="cd ../../"
alias ....="cd ../../../"
alias .....="cd ../../../../"
alias ll="ls -lahG"

#Vagrant
alias vup="vagrant up"
alias vdown="vagrant halt"
alias vssh="vagrant ssh"

